.FontLine {
  cursor: pointer;
  pointer-events: none;
}

.FontLine:hover {
  stroke: orange;
}

.FontLine.eventToggler {
  pointer-events: stroke;
  stroke-linecap: round;
  stroke: transparent;
  stroke-width: 4;
}

.FontLine.eventToggler:hover {
  stroke: orange;
}
.FontLine.active {
  stroke: red;
}
